---
import "../../styles/global.css";
import ScrollToTop from '../../components/ScrollToTop.astro';
import Nav from '../../components/Nav.astro';
import Footer from '../../components/Footer.astro';
import Meta from '../../components/Meta.astro';
---

<html lang="nl">
  <head>
    <Meta />
    <title>TaiGraphics - UX/UI Designer met passie voor Visual Design, Branding en Front-end Development</title>
  </head>
  <body class="font-['Inter'] bg-[#F5F5F5] border-t-8 border-[#0000FF]">

<Nav />

    <header class="mb-2"> 
      <div class="max-w-[960px] mx-auto p-4">
        <h1 class="text-4xl mb-4">Helderheid in het universum</h1>
        <p class="my-2">UX/UI, Journey Mapping en UX Visie</p>
      </div>
    </header>

    <section class="bg-[#CEDBEF]">
      <div class="max-w-[960px] mx-auto p-4">

      <!-- Usecase Card is repeatable -->
      <div class="grid grid-cols-[100%] md:grid-cols-[45%_55%] gap-2 bg-white rounded-lg shadow my-8 overflow-hidden">
        <div class="overflow-hidden md:rounded-l-lg">
          <img src="/thumb000.png" class="w-full h-full object-cover object-top object-left"/>
        </div>
        <div class="p-4 pr-10">
          <p class="text-[#444] font-light text-sm my-3">UX / High Level Journey Mapping / User Research</p>
          <p class="text-md leading-8 py-4">Een UX-visie waarin complexe astronomische processen op een begrijpelijke en intu&#239;tieve manier worden vertaald naar mensgerichte ervaringen.</p>
          <ul class="list-disc list-inside mt-2 text-md leading-8">
            <li><strong>Opdrachtgever:</strong> Astron</li>
            <li><strong>Rol:</strong> Facilitator / UX Designer</li>
            <li><strong>Tools:</strong> Figma, Miro, Pen/Papier/Post-its</li>
            <li><strong>Artifacts:</strong> Persona's / Story Maps / Journeys </li>
          </ul>
        </div>
      </div>
      <!-- End Repeatable Usecase Card -->
    </section>

    <section>
      <div class="max-w-[960px] mx-auto p-4 mt-10 pb-10">
        <p class="text-[#444] font-light text-sm my-3">Journey Mapping / User Research / WCAG</p>
        <h2 class="text-2xl">Helderheid als uitgangspunt</h2>
        <p class="leading-8 mt-5">Bij ASTRON startte ik vanuit het uitgangspunt dat gebruiksvriendelijke en toegankelijke software de basis vormt voor effectieve onderzoeksapplicaties. Om dit te realiseren organiseerde ik visie sessies met stakeholders en gebruikers, waarbij we gezamenlijk de strategische doelen, prioriteiten en uitdagingen in kaart brachten. Daarnaast hield ik bij elk ontwerp rekening met de WCAG-richtlijnen, schermcontrast (zowel Dark als Light-mode), zodat de applicaties niet alleen intu&#239;tief en effici&#235;nt zijn, maar ook toegankelijk voor alle gebruikers. Deze combinatie van participatieve sessies en toegankelijkheidsstandaarden vormde het fundament voor een consistente en hoogwaardige gebruikerservaring.</p>
      </div>
    </section>

    <section class="bg-[#CEDBEF] pt-2 pb-15">
      <div class="max-w-[960px] mx-auto p-4 mt-10">
        <p class="text-[#444] font-light text-sm my-3">Visie / Mapping / Research</p>
        <h2 class="text-2xl">UX Visie vormgeven</h2>
        <p class="leading-8 mt-5">Bij ASTRON heb ik mijn UX-visie concreet gemaakt door het faciliteren en organiseren van focusgroepen met zowel gebruikers als stakeholders. Tijdens deze sessies combineerde ik kwalitatief gebruikersonderzoek met strategische inzichten om de echte pijnpunten en behoeften in kaart te brengen. Door actief te luisteren en usecases te bespreken, konden we gezamenlijke prioriteiten bepalen en richting geven aan het ontwerp. In deze sessies heb ik verschillende methodieken gebruikt om tot de journeys en prototypes te komen.</p>
          <ul class="list-disc list-inside mt-2 text-md leading-10">
            <li>Competittive Analysis (SWOT)</li>
            <li>Stakeholder Interviews</li>
            <li>Personas + Persona Library</li>
            <li>Story Mapping</li>
            <li>User Journey Mapping and Blueprints (A day in the life of)</li>
            <li>High Level Journey Mapping and Clickable prototypes</li>
            </ul>
          </ul>

       <!-- Usecase Card is repeatable -->
      <div class="grid grid-cols-[100%] md:grid-cols-[45%_55%] gap-2 bg-white rounded-lg shadow my-8 overflow-hidden">
        <div class="overflow-hidden md:rounded-l-lg">
          <img src="/thumb006.png" class="w-full h-full object-cover object-top object-left"/>
        </div>
        <div class="p-4 pr-10">
          <p class="text-[#444] font-light text-sm my-3">Persona / User Story Mapping / Journeys</p>
          <p class="text-md leading-8 py-4">Mijn aanpak gaat van inzicht naar interactie, waarbij gebruikers hun verhalen en doelen in kaart brengen om betekenisvolle ervaringen te ontwerpen. Ik gebruik hiervoor middelen zoals <strong>personas</strong>, <strong>user story mapping</strong> en <strong>journey mapping</strong>. Door deze methoden te combineren, ontstaat een helder beeld van gebruikersbehoeften en gedragingen. Dit inzicht vertaal ik vervolgens naar effectieve en intu&#239;tieve prototypes.</p>
        </div>
      </div>
      <!-- End Repeatable Usecase Card -->
      </div>
    </section>

    <section>
      <div class="max-w-[960px] mx-auto p-4 mt-5 pb-10">
        <p class="text-[#444] font-light text-sm my-3">Prototyping / UX Artifacts</p>
        <h2 class="text-2xl">UX outputs</h2>
      </div>

      <div class="max-w-[80%] mx-auto p-4 grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- 50/50 Column 1 -->
        <div class="overflow-hidden rounded-lg bg-gray-400">
          <img src="/artifact000.png" alt="Dashboard Astronomer Latest Status of Proposal and Workspace" class="w-full h-full object-cover" />
        </div>

        <!-- 50/50 Column 2 -->
        <div class="overflow-hidden rounded-lg bg-gray-400">
          <img src="/artifact001.png" alt="Resource Manager" class="w-full h-full object-cover" />
        </div>
      </div>

            <div class="max-w-[80%] mx-auto p-4 grid grid-cols-1 gap-4">
        <!-- Full Column -->
        <div class="overflow-hidden rounded-lg bg-gray-400">
          <img src="/artifact002.png" alt="Journey Blueprint: A day in the life of Dave" class="w-full h-full object-cover" />
        </div>
      </div>

      <div class="max-w-[80%] mx-auto p-4 grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- 50/50 Column 1 -->
        <div class="overflow-hidden rounded-lg bg-gray-400">
          <img src="/artifact003.png" alt="Persona: Alex Anderson - Instrument Scientist" class="w-full h-full object-cover" />
        </div>

        <!-- 50/50 Column 2 -->
        <div class="overflow-hidden rounded-lg bg-gray-400">
          <img src="/artifact004.png" alt="Resource Manager" class="w-full h-full object-cover" />
        </div>
      </div>

    </section>

    <section class="bg-[#CEDBEF] pt-2 pb-15">
      <div class="max-w-[960px] mx-auto p-4 mt-10">
        <p class="text-[#444] font-light text-sm my-3">High-Level Visie / Mapping / Iteratief proces</p>
        <h2 class="text-2xl">Visie en waarde</h2>
        <p class="leading-8 mt-5">Astron's lange termijn visie voor de ASTRON Science Platform is het ontwikkelen van een intu&#239;tief en effici&#235;nt platform dat onderzoekers optimaal ondersteunt. Vanuit mijn UX-visie leid ik een iteratief ontwikkelproces waarin nieuwe functionaliteiten stap voor stap worden toegevoegd, getest met gebruikers en continu verbeterd. Tegelijkertijd ontwikkel ik het design system parallel, zodat consistentie, schaalbaarheid en een herkenbare gebruikerservaring in het hele platform gewaarborgd blijven. Zo realiseer ik een flexibel en duurzaam ecosysteem dat samenwerking, data-analyse en kennisdeling actief faciliteert.</p>
      
       <!-- Recommendation Card is repeatable -->
      <div class="grid grid-cols-[100%] gap-2 bg-white rounded-lg shadow my-8 overflow-hidden">
        <div class="p-12">
          <h2 class="font-mono text-xs">Recommendation</h2>
          <p class="text-md font-serif leading-8 py-2">&quot;Toen Kevin bij ASTRON kwam werken hadden we van UX weinig kaas gegeten. Kevin heeft in de tijd dat hij voor ons werkte duidelijk laten zien hoe UX denken leidt tot software die doet wat gebruikers verwachten. Hierdoor zien de tools die we hebben ontwikkeld er niet alleen eenduidig uit, de flows zijn ook doordacht na discussies met gebruikers en mockups (en later ook prototypes), dit zowel voor ASTRON als binnen het SRCNet project dat zich bezig houdt met de infrastrucutuur die de SKA telescoop zal gebruiken voor toegang tot waarneemdata.  
          </p><p class="text-md font-serif leading-8 py-2">Naast zijn inhoudelijke UX werk heeft Kevin ook zijn kennis intern en extern gedeeld. Een zeer succesvol voorbeeld hiervan is de workshop die hij heeft gegeven op de ADASS, een van de grootste conferenties over softwareontwikkeling in de sterrenkundige wereld. UX is in die gemeenschap niet zo standaad, maar de workshop die Kevin gegeven heeft zorgde er mede voor dat dit onderwerp binnen die gemeenschap weer wat meer is gaan leven.</p>
          <p class="text-md font-serif leading-8 py-2">Daarnaast is Kevin gewoon een sympathieke collega die ook naast zijn dagelijks werk buitengewoon prettig persoon is. &quot;</p>

          <p class="text-xs text-[#0000FF] leading-6 py-2"><strong>Yan Grange (Oktober 8, 2025)</strong><br/><span class="text-[#444]">Astron - The Netherlands Institute for Radio Astronomy</span></p>
        </div>
      </div>
      <!-- End Recommendation Usecase Card -->
      </div>
    </section>

    <Footer />

    <ScrollToTop />
  </body>
</html>