---
import "../../styles/global.css";
import ScrollToTop from '../../components/ScrollToTop.astro';
import Nav from '../../components/Nav.astro';
import Footer from '../../components/Footer.astro';
import Meta from '../../components/Meta.astro';
---

<html lang="nl">
  <head>
    <Meta />
    <title>TaiGraphics - UX/UI Designer met passie voor Visual Design, Branding en Front-end Development</title>
  </head>
  <body class="font-['Inter'] bg-[#F5F5F5] border-t-8 border-[#774499]">

<Nav />

    <header class="mb-2"> 
      <div class="max-w-[960px] mx-auto p-4">
        <h1 class="text-4xl mb-4">Van idee tot een ingediend waarneem-voorstel</h3></h1>
        <p class="my-2">UX/UI, Development, Product Design</p>
      </div>
    </header>

    <section class="bg-[#CEDBEF]">
      <div class="max-w-[960px] mx-auto p-4">

      <!-- Usecase Card is repeatable -->
      <div class="grid grid-cols-[100%] md:grid-cols-[45%_55%] gap-2 bg-white rounded-lg shadow my-8 overflow-hidden">
        <div class="overflow-hidden md:rounded-l-lg">
          <img src="/thumb007.png" class="w-full h-full object-cover object-top object-left"/>
        </div>
        <div class="p-4 pr-10">
          <p class="text-[#444] font-light text-sm my-3">UX/UI, Sprint Iterations, Product Design</p>
          <p class="text-md leading-8 py-4">Astronomen ondersteunen bij een effici&#235;nt, inzichtelijk en foutloos aanvraagproces, en dit proces continu iteratief verbeteren in co-creatie met stakeholders.</p>
          <ul class="list-disc list-inside mt-2 text-md leading-8">
            <li><strong>Opdrachtgever:</strong> Astron</li>
            <li><strong>Rol:</strong> UX/UI Designer, Front-end Devopment</li>
            <li><strong>Tools:</strong> Figma, Miro, Storybook, ReactJS/Vite</li>
            <li><strong>Artifacts:</strong> Prototypes, Screen Design, User Flows </li>
          </ul>
        </div>
      </div>
      <!-- End Repeatable Usecase Card -->
    </section>

    <section>
      <div class="max-w-[960px] mx-auto p-4 mt-10 pb-10">
        <p class="text-[#444] font-light text-sm my-3">Inital Design / MVP / UI/UX</p>
        <h2 class="text-2xl">UX van het Minimum Viable Product</h2>
        <p class="leading-10 mt-5">Bij het MVP heb ik de gebruikerservaring centraal gesteld door een overzichtelijke en intu&#239;tieve interface te ontwerpen, gericht op het snel en effici&#235;nt opstellen van waarneemvoorstellen. Door vroege prototypes te testen met astronomen kon ik knelpunten in het proces identificeren en direct iteratief verbeteren, waardoor het MVP vanaf het begin gebruiksvriendelijk en doelgericht was.</p>
      </div>
    </section>

    <section class="bg-[#CEDBEF] pt-2 pb-15">
      <div class="max-w-[960px] mx-auto p-4 mt-10">
        <p class="text-[#444] font-light text-sm my-3">UX / User Research / Sprint Iterations</p>
        <h2 class="text-2xl">Iteratief verder ontwikkelen tot volwaardige tooling</h2>
        <p class="leading-10 mt-5"></p>


      <!-- Usecase Card is repeatable -->
      <div class="grid grid-cols-[100%] md:grid-cols-[45%_55%] gap-2 bg-white rounded-lg shadow my-8 overflow-hidden">
        <div class="overflow-hidden md:rounded-l-lg">
          <img src="/thumb008.png" class="w-full h-full object-cover object-top object-left"/>
        </div>
        <div class="p-4 pr-10">
          <p class="text-[#444] font-light text-sm my-3">UX/UI, Sprint Iterations, Product Design</p>
          <p class="text-md leading-8 py-4">Na de succesvolle lancering van het MVP is het platform iteratief verder ontwikkeld tot een volwaardige tool voor het opstellen van waarneemvoorstellen. Door continue feedback van gebruikers te integreren en nieuwe functionaliteiten stapsgewijs toe te voegen, kon het product steeds beter aansluiten bij de behoeften van astronomen.</p>
          <ul class="list-disc list-inside mt-2 mb-3 text-md leading-8">
            <li>User flows</li>
            <li>UX Screen Designs</li>
            <li>Persona Mapping</li>
          </ul>
        </div>
      </div>
      <!-- End Repeatable Usecase Card -->
      </div>
    </section>
  

     <section>
      <div class="max-w-[960px] mx-auto p-4 mt-5 pb-10">
        <p class="text-[#444] font-light text-sm my-3">Prototyping / UX Artifacts</p>
        <h2 class="text-2xl">UX outputs</h2>
      </div>

      <div class="max-w-[80%] mx-auto p-4 grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- 50/50 Column 1 -->
        <div class="overflow-hidden rounded-lg bg-gray-400">
          <img src="/artifact005.png" alt="Allocation Screen with Sky Distribution Graph" class="w-full h-full object-cover" />
        </div>

        <!-- 50/50 Column 2 -->
        <div class="overflow-hidden rounded-lg bg-gray-400">
          <img src="/artifact006.png" alt="Onboarding Tulp" class="w-full h-full object-cover" />
        </div>
      </div>

            <div class="max-w-[80%] mx-auto p-4 grid grid-cols-1 gap-4">
        <!-- Full Column -->
        <div class="overflow-hidden rounded-lg bg-gray-400">
          <img src="/artifact007.png" alt="Inital Design + User flow" class="w-full h-full object-cover" />
        </div>
      </div>

          <div class="max-w-[80%] mx-auto p-4 grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- 50/50 Column 1 -->
        <div class="overflow-hidden rounded-lg bg-gray-400">
          <img src="/artifact008.png" alt="Mapping User Roles and Permissions" class="w-full h-full object-cover" />
        </div>

        <!-- 50/50 Column 2 -->
        <div class="overflow-hidden rounded-lg bg-gray-400">
          <img src="/artifact004.png" alt="Resource Manager" class="w-full h-full object-cover" />
        </div>
      </div>
    </section>

    <section class="bg-[#CEDBEF] pt-2 pb-15">
      <div class="max-w-[960px] mx-auto p-4 mt-10">
        <p class="text-[#444] font-light text-sm my-3">Product Design / Tooling</p>
        <h2 class="text-2xl">In gebruik genomen tooling</h2>
        <p class="leading-8 mt-5">Tegelijkertijd werd het design system parallel uitgebreid, waardoor consistentie, schaalbaarheid en een herkenbare gebruikerservaring door het hele platform behouden bleef. Dit iteratieve proces heeft geleid tot een robuust en gebruiksvriendelijk ecosysteem, dat nu als volwaardig product onder de naam TULP actief onderdeel is van de LOFAR2-commissioning.</p>
               <!-- Recommendation Card is repeatable -->
      <div class="grid grid-cols-[100%] gap-2 bg-white rounded-lg shadow my-8 overflow-hidden">
        <div class="p-12">
          <h2 class="font-mono text-xs">Recommendation</h2>
          <p class="text-md font-serif leading-8 py-2">&quot;Kevin is een getalenteerd persoon met wie ik met veel plezier heb samengewerkt - en getafelvoetbald :) Zijn kennis van UX in combinatie met zijn doorgronding van de klantenwensen en wijze waarop ontwikkelaars werken, zorgt ervoor dat dankzij zijn prototypes al in een vroeg stadia de gebruikers weten hoe een applicatie gaat werken, nog voor er ook maar 1 regel code geschreven is. Ik kan niet anders zeggen dat hierdoor de UI al op een zeer vroeg moment relevante feedback van gebruikers kan geven en hierbij zowel het ontwikkel team vrolijk maakt alsmede de gebruikers!&quot;</p>
          <p class="text-xs text-[#774499] leading-6 py-2"><strong>Reinder Kraaij (September 23, 2025)</strong><br/><span class="text-[#444]">Astron - The Netherlands Institute for Radio Astronomy</span></p>
        </div>
      </div>

      <!-- End Recommendation Usecase Card -->

      <!-- Recommendation Card is repeatable -->
      <div class="grid grid-cols-[100%] gap-2 bg-white rounded-lg shadow my-8 overflow-hidden">
        <div class="p-12">
          <h2 class="font-mono text-xs">Recommendation</h2>
          <p class="text-md font-serif leading-8 py-2">&quot;Kevin is a communicative person with very strong listening and sensing skills. He is a bridge between people with different perspectives on 'user interfacing'. From end user to developers, from architects to managers.  
          </p><p class="text-md font-serif leading-8 py-2">A big asset is his flexiblity. He not only designed our UX/UI, but also learned frontend development with ReactJS, so that he not only developed a keen sense of the most effective technical path, but could also advice users better and relieve the development team. And last but not least, he is a friendly, motivated and thrustworthy collegue with always a positive outlook. &quot;</p>
          <p class="text-xs text-[#774499] leading-6 py-2"><strong>Nico Vermaas (September 22, 2025)</strong><br/><span class="text-[#444]">Astron - The Netherlands Institute for Radio Astronomy</span></p>
        </div>
      </div>
      <!-- End Recommendation Usecase Card -->
       
      </div>
    </section>

    <Footer />

    <ScrollToTop />
  </body>
</html>