---
import "../../styles/global.css";
import ScrollToTop from '../../components/ScrollToTop.astro';
import Nav from '../../components/Nav.astro';
import Footer from '../../components/Footer.astro';
import Meta from '../../components/Meta.astro';
---

<html lang="nl">
  <head>
    <Meta />
    <title>TaiGraphics - UX/UI Designer met passie voor Visual Design, Branding en Front-end Development</title>
  </head>
  <body class="font-['Inter'] bg-[#F5F5F5] border-t-8 border-[#0000FF]">

<Nav />

    <header class="mb-2"> 
      <div class="max-w-[960px] mx-auto p-4">
        <h1 class="text-4xl mb-4">Van componenten naar coherentie en consistentie</h3></h1>
        <p class="my-2">UX/UI, Visual Design & Branding</p>
      </div>
    </header>

    <section class="bg-[#CEDBEF]">
      <div class="max-w-[960px] mx-auto p-4">

      <!-- Usecase Card is repeatable -->
      <div class="grid grid-cols-[100%] md:grid-cols-[45%_55%] gap-2 bg-white rounded-lg shadow my-8 overflow-hidden">
        <div class="overflow-hidden md:rounded-l-lg">
          <img src="/thumb003.png" class="w-full h-full object-cover object-top object-left"/>
        </div>
        <div class="p-4 pr-10">
          <p class="text-[#444] font-light text-sm my-3">User Interface / Design System / Componenten / Storybook</p>
          <p class="text-md leading-8 py-4">Een gebruiksvriendelijke interface voor het beheren van complexe systemen. Een pragmatische library, opgezet als one-team UX-er en actief meegebouwd aan de front-end.</p>
          <ul class="list-disc list-inside mt-2 text-md leading-8">
            <li><strong>Opdrachtgever:</strong> Astron</li>
            <li><strong>Rol:</strong> UX Designer</li>
            <li><strong>Tools:</strong> Figma / Storybook / React</li>
          </ul>
        </div>
      </div>
      <!-- End Repeatable Usecase Card -->
    </section>

    <section>
      <div class="max-w-[960px] mx-auto p-4 mt-10 pb-10">
        <p class="text-[#444] font-light text-sm my-3">Component Based / Design Sytem / WCAG</p>
        <h2 class="text-2xl">Astron Design System</h2>
        <p class="leading-10 mt-5">Het Astron Design System vormt de basis voor consistente, schaalbare en toegankelijke interfaces binnen al onze tools en platformen. Vanuit mijn UX-visie heb ik het design system opgezet en doorontwikkeld, waarbij componenten, patronen en richtlijnen parallel aan productontwikkeling worden getest en verbeterd.</p>
      </div>
    </section>

    <section class="bg-[#CEDBEF] pt-2 pb-15">
      <div class="max-w-[960px] mx-auto p-4 mt-10">
        <p class="text-[#444] font-light text-sm my-3">Front-End / Design System / UI Library</p>
        <h2 class="text-2xl">Storybook implementatie</h2>
        <p class="leading-10 mt-5"></p>

      <!-- Usecase Card is repeatable -->
      <div class="grid grid-cols-[100%] md:grid-cols-[45%_55%] gap-2 bg-white rounded-lg shadow my-8 overflow-hidden">
        <div class="overflow-hidden md:rounded-l-lg">
          <img src="/thumb002.png" class="w-full h-full object-cover object-top object-left"/>
        </div>
        <div class="p-4 pr-10">
          <p class="text-[#444] font-light text-sm my-3">UX/UI, Sprint Iterations, Product Design</p>
          <p class="text-md leading-8 py-4"> Door middel van Storybook-snippets kunnen developers deze componenten eenvoudig overnemen en direct in hun code implementeren, waardoor nieuwe functies sneller ontwikkeld worden en een uniforme gebruikerservaring behouden blijft.</p>
          <ul class="list-disc list-inside mt-2 mb-3 text-md leading-8">
            <li>User Interface Componenten Bibliotheek</li>
            <li>Documentatie en gebruikershandleiding</li>
            <li>Visie op het Design Proces</li>
          </ul>
        </div>
      </div>
      <!-- End Repeatable Usecase Card -->
      </div>
    </section>
  
    <section>
      <div class="max-w-[80%] mx-auto p-4 grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- 50/50 Column 1 -->
        <div class="overflow-hidden rounded-lg bg-gray-400">
          <img src="/artifact009.png" alt="Design System Foundation" class="w-full h-full object-cover" />
        </div>

        <!-- 50/50 Column 2 -->
        <div class="overflow-hidden rounded-lg bg-gray-400">
          <img src="/artifact010.png" alt="Colors" class="w-full h-full object-cover" />
        </div>
      </div>
    </section>

     <section class="bg-[#CEDBEF] pt-2 pb-15">
      <div class="max-w-[960px] mx-auto p-4 mt-10">
        <p class="text-[#444] font-light text-sm my-3">Design System / Componenten / UX/UI</p>
        <h2 class="text-2xl">Waarde</h2>
        <p class="leading-10 mt-5">Het Astron Design System hielp bij het ontwikkelen van het MVP en het TULP-product. Het zorgt voor consistente en herbruikbare componenten. Het ondersteunt mijn UX-visie en maakt het het ontwerpen van nieuwe prototypes eenvoudiger en sneller samen met developers en stakeholders.</p>
      
        <!-- Recommendation Card is repeatable -->
        <div class="grid grid-cols-[100%] gap-2 bg-white rounded-lg shadow my-8 overflow-hidden">
        <div class="p-12">
          <h2 class="font-mono text-xs">Recommendation</h2>
          <p class="font-serif text-md leading-6 py-2">&quot;Kevin is een hele fijne collega. Een echte teamplayer. Als UX/UI designer heeft hij een volledig design system opgetuigd. Door zijn gesprekken met onze stakeholders is de verbinding tussen het ontwikkelteam en de stakeholders enorm verbeterd. Ik durf te beweren dat onze productiviteit en effectiviteit hierdoor flink zijn verbeterd.&quot;</p>
          <p class="text-xs text-[#0000FF] leading-6 py-2"><strong>Rene Lourens (June 4, 2025)</strong><br/><span class="text-[#444]">Astron - The Netherlands Institute for Radio Astronomy</span></p>
        </div>
      </div>  
      <!-- End Recommendation Usecase Card -->

      </div>
      </section>
    <Footer />

    <ScrollToTop />
  </body>
</html>