---
import "../styles/global.css";
import Nav from '../components/Nav.astro';
import Meta from '../components/Meta.astro';
---

<html lang="nl">
  <head>
    <Meta />
    <title>TinyLaunch - Contact</title>
  </head>
  <body class="font-['Inter'] bg-[#F5F5F5] border-t-8 border-[#FFA500]">

<Nav />

    <header class="mb-10"> 
      <div class="max-w-[960px] mx-auto p-4">
        <h1 class="text-4xl mb-4"><span class="font-bold text-[#FFA500]">Contact</span><span class="font-light"></span></h1>
        <p class="text-2xl/10">Geen vraag is te gek! <strong>Creativiteit</strong> zit hier!</p>
      </div>
    </header>

    <section id="ux" class="bg-[#CEDBEF] py-5">
      <div class="max-w-[960px] mx-auto p-4">
      <h2 class="text-2xl mb-4"><span class="font-bold text-[#FFA500]">Plan een gesprek!</span></h2>
      <!-- Calendly inline widget begin -->
      <div class="calendly-inline-widget" data-url="https://calendly.com/taigraphics-info/30min?hide_event_type_details=1&hide_gdpr_banner=1&primary_color=0000ff" style="min-width:320px;height:700px;"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
      <!-- Calendly inline widget end -->
    </section>

   
  </body>
</html>