---
import "../styles/global.css";
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Meta from '../components/Meta.astro';
---

<html lang="nl">
  <head>
    <Meta />
    <title>TaiGraphics - Designs</title>
  </head>
  <body class="font-['Inter'] bg-[#F5F5F5] border-t-8 border-[#FFA500]">

<Nav />

    <header class="mb-10"> 
      <div class="max-w-[960px] mx-auto p-4">
        <h1 class="text-4xl mb-4"><span class="font-bold text-[#FFA500]">Design</span><span class="font-light"> Showcase</span></h1>
        <p class="text-2xl/10">Geen vraag is te gek! <strong>Creativiteit</strong> zit hier!</p>
      </div>
    </header>

    <section class="bg-[#CEDBEF] py-2">
      <div class="max-w-[960px] mx-auto p-4">
      <!-- Usecase Card is repeatable -->
      <div class="grid grid-cols-[100%] md:grid-cols-[30%_70%] gap-2 bg-white rounded-lg shadow my-8 overflow-hidden">
        <div class="overflow-hidden md:rounded-l-lg">
          <img src="/thumb009.png" class="w-full h-full object-cover object-top object-left"/>
        </div>
        <div class="p-4 pr-10">
          <p class="text-[#444] font-light text-sm my-3">Visual Design, Logo, Branding, Product Design</p>
          <p class="text-md leading-8 py-4">Talloze concepten omgezet in visueel aantrekkelijke en functionele ontwerpen. Een overzicht van verschillende visuals waar je lekker doorheen kunt scrollen!</p>
        </div>
      </div>
      <!-- End Repeatable Usecase Card -->
    </section>

    <section>
      <div class="max-w-[960px] mx-auto p-4 mt-10 pb-10">
        <h2 class="text-2xl mb-4"><span class="font-bold text-[#FFA500]">Logo Design</span> Showcase</h2>
        <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-6">
        <!-- Column 1 -->
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <img src="/logo000.png" alt="Risk Explorer" class="w-full h-full object-cover" />
        </div>

        <!-- Column 2 -->
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <img src="/logo001.png" alt="Tosti Talk" class="w-full h-full object-cover" />
        </div>

        <!-- Column 3 -->
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <img src="/logo002.png" alt="Koppie Copy" class="w-full h-full object-cover" />
        </div>

                <!-- Column 1 -->
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <img src="/logo003.png" alt="Avisi" class="w-full h-full object-cover" />
        </div>

        <!-- Column 2 -->
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <img src="/logo004.png" alt="Fulcro" class="w-full h-full object-cover" />
        </div>

        <!-- Column 3 -->
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <img src="/logo005.png" alt="Astron Tulp" class="w-full h-full object-cover" />
        </div>
      </div>


      <h2 class="text-2xl mt-15"><span class="font-bold text-[#FFA500]">Visual Design</span> Showcase</h2>

      <!-- Card is repeatable -->
      <div class="grid grid-cols-[100%] md:grid-cols-[30%_70%] gap-2 bg-white rounded-lg shadow my-8 overflow-hidden">
        <div class="overflow-hidden md:rounded-l-lg">
          <img src="/thumb005.png" class="w-full h-full object-cover object-top object-left"/>
        </div>
        <div class="p-4 pr-10">
          <p class="text-[#444] font-light text-sm my-3">Visual Design / Branding / Iconography</p>
          <h3 class="text-3xl pt-1 pb-2">Iconography</h3>
          <p class="text-md leading-8 py-4">Ik kan je helpen met het opzetten van een Iconen Bibliotheek. Iconen die spreken: helder, consistent en betekenisvol, zodat elke visual direct communiceert.</p>
          <a href="https://www.behance.net/gallery/56247319/Iconography-Avisi" target="_blank" class="mt-2 py-2 px-6 inline-block bg-[#FFA500] font-bold transition duration-250 ease-in-out border border-[#F5F5F5] text-white text-sm rounded-full hover:bg-white hover:text-[#FFA500] hover:border hover:border-[#FFA500]">Behance - Icons bekijken (Extern)</a>
        </div>
      </div>
      <!-- End Repeatable Card -->

      <div class="mx-auto grid grid-cols-1 md:grid-cols-2 my-8 gap-6">
        <!-- Column 1 -->
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <img src="/artifact000.png" alt="Science Platform" class="w-full h-full object-cover" />
        </div>

        <!-- Column 2 -->
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <img src="/artifact001.png" alt="Resource managfer" class="w-full h-full object-cover" />
        </div>
      </div>

      <div class="mx-auto grid grid-cols-1 md:grid-cols-1 my-8 gap-6">
        <!-- Full Column -->
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <img src="/artifact000.png" alt="Science Platform" class="w-full h-full object-cover" />
        </div>
      </div>

            <!-- Card is repeatable -->
      <div class="grid grid-cols-[100%] md:grid-cols-[30%_70%] gap-2 bg-white rounded-lg shadow my-8 overflow-hidden">
        <div class="overflow-hidden md:rounded-l-lg">
          <img src="https://media.licdn.com/dms/image/v2/C5612AQHpB4ItrplfSg/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1532594197356?e=1761782400&v=beta&t=R8XqRbILrFinik3N66V3g4-D0S364YJZtXb0YSeWt_A" class="w-full h-full object-cover object-top object-left"/>
        </div>
        <div class="p-4 pr-10">
          <p class="text-[#444] font-light text-sm my-3">System / Branding / Modulair</p>
          <h3 class="text-3xl pt-1 pb-2">Brand systems</h3>
          <p class="text-md leading-8 py-4">Een brandsystem helpt ontwerpers om consistenter assets en materialen te maken, terwijl ze toch creatief en flexibel kunnen blijven zonder de identiteit te verliezen.
</p>
          <a href="https://www.linkedin.com/pulse/make-your-brand-modulair-design-system-part-1-creating-kevin-tai/" target="_blank" class="mt-2 py-2 px-6 inline-block bg-[#FFA500] font-bold transition duration-250 ease-in-out border border-[#F5F5F5] text-white text-sm rounded-full hover:bg-white hover:text-[#FFA500] hover:border hover:border-[#FFA500]">Lees LinkedIn Pulse Artikel (Extern)</a>
        </div>
      </div>
      <!-- End Repeatable Card -->

      <div class="mx-auto grid grid-cols-1 md:grid-cols-2 my-8 gap-6">
        <!-- Column 1 -->
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <img src="/4f072c15364313.5629000ce7ce0.webp" alt="Verzekeruzelf" class="w-full h-full object-cover" />
        </div>

        <!-- Column 2 -->
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <img src="/koppie.png" alt="Branding Koppie-Copy" class="w-full h-full object-cover" />
        </div>
      </div>

      <div class="mx-auto grid grid-cols-1 md:grid-cols-1 my-8 gap-6">
        <!-- Full Column 1 -->
       <!-- Recommendation Card is repeatable -->
        <div class="grid grid-cols-[100%] gap-2 bg-white rounded-lg shadow my-8 overflow-hidden">
        <div class="p-12">
          <h2 class="font-mono text-xs">Recommendation</h2>
          <p class="text-md font-serif leading-8 py-2">&quot;Kevin heeft voor mij <a href="https://www.behance.net/gallery/6855921/KoppieCopy" class="underline hover:text-[#FFA500]" target="_blank">www.koppie-copy.nl</a> ontworpen en gebouwd. En ik prijs me nog iedere dag gelukkig dat ik hem voor die klus heb gevraagd. Hij toonde zich heel betrokken bij het project en heeft veel meer gedaan dan alleen het design en de realisatie. Ik vertelde hem over de bedrijfsidentiteit van Koppie Copy, wat ik wilde uitstralen. Hij speelde daar perfect op in en verzon de visuele branding.&quot;</p>
          <p class="text-xs text-[#FFA500] leading-6 py-2"><strong>Alexandar Djuric (April, 2013)</strong><br/><span class="text-[#444]">Videostrateeg en partner bij Fideo & Redtail Studios</span></p>
        </div>
      </div>
      <!-- End Recommendation Usecase Card -->
      </div>


      <div class="mx-auto grid grid-cols-1 md:grid-cols-1 my-8 gap-6">

        <!-- Full Column 1 -->
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <img src="/knb00.png" alt="UX UI Koninklijk Notariaal Beroepsorganisatie - Design System and User Interfaces" class="w-full h-full object-cover" />
        </div>
      </div>

      <div class="mx-auto grid grid-cols-1 md:grid-cols-1 my-8 gap-6">
        <!-- Full Column 1 -->
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <img src="/techradar.png" alt="Avisi Technology Radar" class="w-full h-full object-cover" />
        </div>
      </div>

      <div class="mx-auto grid grid-cols-1 md:grid-cols-1 my-8 gap-6">
        <!-- Full Column 1 -->
        <div class="overflow-hidden rounded-lg bg-white shadow">
          <img src="/techradar2.png" alt="Avisi Technology Radar - Fasering" class="w-full h-full object-cover" />
        </div>
      </div>
      <div class="mx-auto grid grid-cols-1 md:grid-cols-1 my-8 gap-6">
      <!-- Full Column 1 -->
       <!-- Recommendation Card is repeatable -->
        <div class="grid grid-cols-[100%] gap-2 bg-white rounded-lg shadow my-8 overflow-hidden">
        <div class="p-12">
          <h2 class="font-mono text-xs">Recommendation</h2>
          <p class="text-md font-serif leading-8 py-2">&quot;Kevin is altijd bereid om mee te denken bij het ontwerpen van onder andere logo's en t-shirts, en weet elke keer weer iets moois neer te zetten. Hij denkt graag mee over mijn ideeën en is flexibel in de uitvoering ervan. Hij is betrouwbaar en werkt secuur. Kevin is mijn vast aanspreekpunt voor zowel nieuwe ontwerpen als aanpassingen op bestaande ontwerpen.&quot;</p>
          <p class="text-xs text-[#FFA500] leading-6 py-2"><strong>Tommy van Extel  (Januari, 2023)</strong><br/><span class="text-[#444]">Van Extel IT BV</span></p>
        </div>
      </div>
      <!-- End Recommendation Usecase Card -->
      </div>
       
      </div>
      
      <Footer />

  </body>
</html>