---
// Footer.astro
---
<footer class="bg-white pt-10 pb-4 border-b-8 border-[#774499]">
    <div class="max-w-[960px] mx-auto p-4 mt-8">
        <img class="mb-15" src="/footer-logo.png" width="100%"/>
        <p class="text-2xl/10">Enthousiast geworden? Heb je iets nodig?</p>
        <p class="text-2xl/10"><strong>Creativiteit</strong> zit hier! Neem contact op!</p>
        <p class="my-2">UX/UI, Visual Design & Branding</p>
        <a href="/contact" class="inline-block my-10 py-3 px-5 bg-[#774499] transition duration-250 ease-in-out border border-[#F5F5F5] text-white rounded-full hover:bg-white hover:text-[#774499] hover:border hover:border-[#774499]">
            Plan een gesprek!
        </a>
        <div class="flex justify-center space-x-4 mt-20">
            <!-- Load Social Icons -->
            <script src="https://code.iconify.design/3/3.1.1/iconify.min.js"></script>
            <a href="http://www.linkedin.com/in/kevintai" target="_blank"><span class="iconify opacity-80 hover:opacity-100" data-icon="mdi:linkedin" style="font-size:32px;color:#774499;"></span></a>
            <a href="https://www.behance.net/nescio88" target="_blank"><span class="iconify opacity-80 hover:opacity-100" data-icon="mdi:behance" style="font-size:32px;color:#774499;"></span></a>
            <a href="https://dribbble.com/KevinTai88" target="_blank"><span class="iconify opacity-80 hover:opacity-100" data-icon="mdi:dribbble" style="font-size:32px;color:#774499;"></span></a>
        </div>
    </div>
</footer>